@model ExampleMvcApp.Models.BazPostModel

<html>
    <head>
        <title>Other -> Baz</title>
    </head>
    <body>
        <p>Hello, world!</p>
        
        <p>Submitted keyword: @Model.Keyword</p>

        @Html.Partial("_links")
    </body>
</html>