@model EmpiriCall.Actions.ViewModels.MainMenuView

@{
    Layout = "_layout";
    ViewBag.Title = "Add Meta Data Version";
}

<h1>New Meta Data Version Added</h1>

<p>
    You have created a new meta data version. This version will be used for all EmpiriCall records from now on.
    All previous recordings remain associated with the old version(s).
</p>