@model EmpiriCall.Actions.ViewModels.MainReportView

EmpiriCall Reports!<br />
<br />
Meta data last updated: @Model.LastMetaDataUpdateDate
<br />
0) <a href="/EmpiriCall.axd">Home</a><br />
1) <a href="?command=rawdetail">Raw Detail</a><br />
2) <a href="?command=forcemetaupdate">Force Meta Update</a><br />
3) <a href="?command=showmetadata">Show Meta Data</a><br />
4) <a href="?command=showcalldata">Show Call Data</a><br />
5) <a href="?command=loadfeature">Load Feature Maps Into Meta Data</a><br />