@model EmpiriCall.Actions.ViewModels.MainMenuView

@{
    Layout = "_layout";
    ViewBag.Title = "Home";
}

<h1>Welcome to EmpiriCall</h1>
<p>Meta data last updated: @Model.LastMetaDataUpdateDate</p>
<p>For help using EmpiriCall, visit <a href="https://github.com/mgroves/EmpiriCall">EmpiriCall on Github</a></p>