@{
    Layout = "_layout";
    ViewBag.Title = "Save Features";
}

<h1>Save Features</h1>

<p>The updates to the features are saved.</p>

<p><a href="?command=showmetadata">Go back to Meta Data</a></p>